h1 {
  text-align: center;
  font-size: 100px;
  margin: 100px 0px;
  border: 8px solid #fbb040;
  padding: 30px 15px;
  display: inline-block;
}

body {
  background-color: #333333;
  color: #fbb040;
  font-family: 'VT323', monospace;
}

.btn {
  font-size: 40px;
  padding: 10px 15px;
}

.form-group {
  font-size: 45px;
  margin-bottom: 40px;
}

img {
  padding: 10px 10px;
}
